* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    139.26deg,
    #6c48d3 -0.62%,
    #4d4de2 27.67%,
    #3778fc 84.31%,
    #0370ff 101.52%
  );
}
.topo-menu {
  display: flex;
  position: relative;
  padding-top: 20px;
  width: 100%;
  height: 80%;
  padding: 12px, 64px, 12px, 64px;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  flex-direction: row;
}
.nav-logo img  {
  border-radius: 50%;
}
.nav-menu {
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-tag {
  display: flex;
  color:white;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;

}
.Button-CV {
  border: 2px solid #fafafa;
  border-radius: 8px;
  padding: 10px 24px;
  text-decoration: none;
  color: #fafafa;
  font-weight: 700;
  font-size: 18px;
}
.Container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 6%;
}

.photo-perfil{
  width: 24%;
}
.Container-left h2, h4{
  color: white;
}
.Container-icons{
  margin-top: 15%;
  
}
.Container-icons a{
  margin-right: 5px;
}










@media(max-widht:588px) {
  .nav-menu{
    flex-direction: column;
  }
}
